<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Drużynorób</title>
    <meta equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('bootstrap-1.1.0.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('teamomatic.css') }}" />
    <script type="text/javascript" src="{{ static_url('jquery-1.6.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('application.js') }}"></script>
</head>
<body>
    <div id="page" class="container">
        <div class="page-header">
            <h1>Drużynorób <small>Kopie tyłek</small></h1>
        </div>
        <div class="row">
            <div class="span4 columns">
                <h2>Ustawienia</h2>
                <p>Podaj dane niezbędne do wygenerowania listy drużyn.</p>
            </div>
            <div class="span12 columns">
                <form id="form">
                    <div class="clearfix">
                        <label for="people">Lista zawodników</label>
                        <div class="input">
                            <textarea class="xxlarge" id="people" name="people"></textarea>
                            <span class="help-block">Imiona zawodników oddziel przecinkami.</span>
                        </div>
                    </div>
                    <div class="actions">
                        <button id="submit" class="btn primary" type="submit">Jazda!</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="result" class="row">
            <div class="span4 columns">
                <h2>Drużyny</h2>
                <p>Tu będzie (lub jest) lista drużyn.</p>
            </div>
            <div class="span12 columns">
                <table class="common-table zebra-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Zawodnicy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">Brak danych</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p id="footer">Drużynorób is powered by <a href="http://www.bthlabs.pl/">BTHLabs</a> &amp; <a href="http://twitter.github.com/bootstrap">Bootstrap</a>. For teh lulz.</p>
        <div id="alert" class="alert-message error">
            <p>Coś poszło nie tak.</p>
        </div>
    </div>
</body>
</html>
