<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{{ _('Team-O-Matic') }}</title>
    <meta equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('bootstrap-1.1.0.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('teamomatic.css') }}" />
    <script type="text/javascript" src="{{ static_url('jquery-1.6.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('application.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jrumble.1.1.min.js') }}"></script>
</head>
<body>
    <div id="page" class="container">
        <div class="page-header">
            <h1>{{ _('Team-O-Matic') }} <small>{{ _('Kicks butt') }}</small></h1>
        </div>
        <div class="row">
            <div class="span4 columns">
                <h2>{{ _('Settings') }}</h2>
                <p>{{ _('Fill the form so we can create teams.') }}</p>
            </div>
            <div class="span12 columns">
                <form id="form">
                    <div class="clearfix">
                        <label for="people">{{ _('Players') }}</label>
                        <div class="input">
                            <ul class="inputs-list">
                            {% for person in people %}
                                <li><label><input type="checkbox" checked="checked" value="{{ person }}" />&nbsp;<span>{{ person }}</span></label></li>
                            {% end %}
                            </ul>
                        </div>
                    </div>
                    <div class="actions">
                        <button id="submit" class="btn primary" type="submit">{{ _('Go!') }}</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="result" class="row">
            <div class="span4 columns">
                <h2>{{ _('Teams') }}</h2>
                <p>{{ _('Teams list will be (or is) here.') }}</p>
            </div>
            <div class="span12 columns">
                <table class="common-table zebra-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ _('Players') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">{{ _('No teams (yet)') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p id="footer">{{ _('Team-O-Matic') }} is powered by <a href="http://www.bthlabs.pl/">BTHLabs</a> &amp; <a href="http://twitter.github.com/bootstrap">Bootstrap</a>. &bull; <a href="https://github.com/tomekwojcik/Team-O-Matic">Fork me on GitHub</a> &bull; For teh <span>lulz.</span></p>
        <div id="alert" class="alert-message error">
            <p>Blah.</p>
        </div>
    </div>
</body>
</html>
